body {
	height: 50px;
	margin: 0;
	padding: 0;
	float: left;
}

.navbar ul {
	width: 100%;
	text-align: center;
	list-style: none;
	margin: 0;
    padding: 0;
    overflow: hidden;
    height: 50px;
}

.navbar ul li {

	font-size: 18px;
	font-family: helvetica;
	display: inline-block;
	text-align: center;
	padding: 14px;
	height: 50px;
}

a {
	text-decoration: none;
	color: black;
}