@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	background-color: #eeeeee;
	font-family: 'Roboto', sans-serif;
}

.container {
	margin: 3em;
}

.card {
	padding: 1.5em;
	background-color: white;
	border: 1px solid lightgrey;
	border-radius: 4px;
	display: flex;
	margin-bottom: 1.5em;
}

.card-content {

}

.card-title {
	font-size: 1.5em;
	margin-bottom: 0.5em;
}

.card-subtitle {
	font-size: 1.2em;
	color: darkgrey;
	margin-bottom: 0.5em;
}

.card-photo {
	height: 128px;
	width: 128px;
	border-radius: 4px;
	margin-right: 2em;
}

@media screen and (max-width: 576px) {
	.card {
		flex-wrap: wrap;
		text-align: center;
		justify-content: center;
	}

	.card-photo {
		margin-right: 0em;
		margin-bottom: 0.5em;
	}
}
