body {
   margin: 0;
   padding: 0;
   font-family: helvetica;
   overflow-x: hidden;
}

.panel {
	position: relative;
	overflow: hidden;
	width: 100vw;
	height: 200px;
}

.slider {
	left: -100vw;
	position: relative;
}

.slider-item {
	position: relative;
	float: left;
	height: 200px;
	width: 100vw;
	overflow: hidden;
}

.slider-item img {
	/*https://stackoverflow.com/questions/14562457/center-oversized-image-in-div*/
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

	min-width: 100%;
	min-height: 100%;

	width: 100%;
	height: auto;
}

@media screen and (max-width: 720px) {
	.slider-item img {
		width: auto;
		height: 100%;
	}
}

.panel-button {
	display: inline-block;
	position: absolute;
	top: 50%;
	font-size: 60px;
	border: none;
	color: rgba(255, 255, 255, 0.5);
	transform: translateY(-50%);
	cursor: pointer;
	transition: color 0.2s ease;
}

.panel-button:hover {
	color: rgba(255, 255, 255, 0.8);
}

.carousel-prev {
	left: 20px;
}

.carousel-next {
	right: 20px;
}

.caption {
	font-size: 3em;
	font-family: helvetica;
	position: absolute;
	font-weight: bold;
	line-height: 1em;
	opacity: 0.85;
	user-select: none;
	-moz-user-select: none;
}

.caption-left {
	top: 15%;
	left: 8%;
}

.caption-right {
	top: 15%;
	right: 8%;
}

.caption-drawer {
	font-size: 48px;
	font-size: 4.8vw;
	top: 15%;
	right: 11%;
}

.blue {
	color: #011f4b;
}

.green {
	color: #7a2222;
}

.white {
	color: #ffffff;
}

.drawer-panel {
	overflow: hidden;
	display: flex;
	justify-content: center;
	position: fixed;
	width: 100%;
	bottom: 0;
}

.drawer {
	position: relative;
	bottom: 0;
	width: 80%;
	transition: all 2s;
	background-color: #333;
	/*padding: 60px;*/
	opacity: 0.8;
}

.close {
	bottom: -300px;
}

.close-button {
	margin: 1%;
	position: absolute;
	right: 0;
	top: 0;
	display: block;
	font-size: 4vw;
	cursor: pointer;
	color: darkgrey;
}

.close-button:hover {
	color: black;
}

.drawer h1 {
	margin: 0;
	font-size: 40px;
	color: white;
}

.drawer img {
	width: 100%;
	height: auto;
}

.cardtable {
	display: grid;
	grid-template-rows: 50% 50%;
	grid-template-columns: 70% 30%;
	height: 100%;
	margin: 0.5em;
}

.cardtable-warpper {
	height: 40vw;
}

.card {
	margin: 0.5em;
}

.card img {
	width: 100%;
	height: 100%;
}

.card:link img {
	opacity: 1.0;
}

.card:hover img{
	opacity: 0.6;
}

.card-l {
	grid-row-end: span 2;
}

/**/

.fadein-slider {
  /*max-width: 300px;
  height: 200px;
  margin: 20px auto;
  position: relative;*/
  width: 100vw;
  position: relative;
  height: 200px;
}

.fadein-slider img {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

	min-width: 100%;
	min-height: 100%;

	width: 100%;
	height: auto;
}

.fadein-slider-item {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}
<<<<<<< HEAD
=======

@media screen and (max-width: 576px){
	.close-button {
		font-size: 1em;
	}
}
>>>>>>> Make popup and mars responsive
