table{
    background-color: aliceblue;
}
.header{
    font-size: 1.8em;
    color: midnightblue;
}
.content{
    font-size: 1.2em;
    color: royalblue;
}
.r{
    color: red;
}
img{
    width: 460px;
    height: 345px;
}
