@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	font-family: 'Roboto', sans-serif;
}

table{
    background-color: aliceblue;
}

td{
    padding: 3px;
}

.heading{
    font-size: 1.6em;
    color: midnightblue;
}

.subheading{
    font-size: 1.1em;
    color: midnightblue;
}

.content{
    font-size: 1.1em;
    color: royalblue;
}

.r{
    font-size: 1.1em;
    color: red;
}

img{
    width: 100%;
	border-radius: 0.2em;
}

del{
    text-decoration: line-through;
    text-decoration-color: red;
}

input[type='button'] {
	border-width: 0px;
	background-color: #4d4dff;
	color: white;
	padding: 0.5em 0.875em;
	font-size: 1em;
	box-shadow: 2px 2px 2px lightgray;
	transition: background-color 0.25s ease;
}

input[type='button']:hover {
	background-color: #2d2ddd;
}
