.wrapper{
  display:grid;
  grid-gap: 1em;
  text-align: center;
}

.wrapper > div{
  background:rgb(238, 255, 212);
  padding:2em;
  border: solid 1px lightgray;
}

.wrapper > div:nth-child(odd){
  background: rgb(255, 255, 217)
}

.textstyle{
  font-family: Verdana;
  color: rgb(117, 136, 162);
}

.myButtom {
  font-family: sans-serif;
  font-size: 12px;
  text-align: center;
  color: rgb(117, 136, 162);
  background-color: rgb(178, 196, 232);
  border-radius: 30px;
  padding: 3px 3px;
}

.myButtom:hover {
  background-color: rgb(191, 214, 246);
  color: rgb(153, 165, 236);
}


a {
  text-decoration: inherit;
  float: right;
}
